/*
----------------------------------------
|	           TABLE OF CONTENT 	       |
----------------------------------------

1. Template Default CSS
	1.1. Nav bar
	1.2. Content Container
		1.2.1. Header
  1.3. Toast
2. Index
	2.1. Content Container
	2.2. Environment Info Cards
	2.3. Chart Container

3. Plant
	3.1. Evaluate
	3.2. Recommendation
		3.2.1. Button (select + config button)
	3.3. Sidepeek
		3.3.1. Header
		3.3.2. Double slider
		3.3.3. Date choose
		3.3.4. Button (select + cancel button)
4. Overlay
5. Responsive


*/

/* ----------------------------------------
|	 1. Template Default CSS               |
---------------------------------------- */

* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}

* p {
  margin: 0;
}
.main-container {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 10px;
}

.main-container-profile {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.bi-list {
  display: none;
}

.background-before {
  position: relative;
  height: 40vh;
  width: 100vw;
  background-color: #f4f5f6;
}

.content {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 45%;
  width: 60%;
  height: 70%;
}

.data {
  padding: 1% 6%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
  height: 100%;
}

.tab-titles {
  display: flex;
  margin: 20px 0 20px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #557c55;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 100%;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* ========== 1.1. Nav bar ============ */

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  width: 80px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #cfe1b9;
  transition: all ease 0.5s;
  padding: 5px;
  overflow: hidden;
}
.navbar i {
  font-size: 35px;
  color: #838383;
  font-weight: 900;
  border-radius: 60px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.navbar i.active {
  font-weight: bolder;
  color: #fff;
  background-color: #557c55;
}

.navbar div {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: all ease 0.2s;
}
.navbar div p {
  text-wrap: nowrap;
  margin-left: 30px;
  font-weight: 800;
  font-size: 20px;
}

.navbar:hover {
  width: 280px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.navbar:hover div {
  width: 230px;
}

.navbar div:last-child {
  color: red;
  position: absolute;
  left: 0;
  bottom: 0;
}

.navbar div:last-child i {
  color: red;
}

.navbar:hover .bi-cloud {
  color: #838383;
  background-color: transparent;
}

.navbar:hover div:hover {
  background-color: #557c55;
  border-radius: 12px;
  padding: 10px;
  color: #fff;
}

.navbar:hover div:last-child:hover {
  background-color: #fe5c5c;
  border-radius: 12px;
  padding: 10px;
  color: #fff;
}

.navbar:hover div:hover i {
  color: #fff;
}
.navbar:hover .content-container {
  width: calc(100% - 80px) !important;
}

/* =============== 1.2. Content Container =========== */

.content-container {
  background-color: #f7f7f7;
  height: 100%;
  width: calc(100% - 80px);
  margin-left: 100px;
  border-radius: 12px;
  overflow: hidden;
  padding: 20px 60px 20px 60px;
}
.content-container > div {
  margin-bottom: 1rem;
}

/* -------------- 1.2.1. Header --------------- */

.header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 25px 0 25px 25px;
  background-color: #cfe1b9;
  border-radius: 10px;
  position: relative;
}

.header img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70px;
  height: 90px;
}

.header i {
  font-size: 70px;
  margin-right: 20px;
}

.header h3,
.header h1 {
  font-weight: 900;
  color: green;
  margin: 0;
}

/* ======== 1.3. Toast ============ */

.toast-header img {
  width: 20px;
  height: 20px;
}

/* ----------------------------------------
  |	 2. Index                             |
  ---------------------------------------- */

/* ============== 2.1. Content - Container (header) =============== */

.header .greet {
  padding-right: 30px;
  margin-right: 60px;
  border-right: 2px solid green;
}
.check-plant p {
  font-size: 17px;
  font-weight: 500;
  color: #557c55;
  margin: 0;
}

/* ============== 2.2. Environment Info Cards ============== */

.environment-info {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 10px;
  width: calc(100vw- 250px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.info-card {
  width: calc(25% - 30px);
  max-width: 390px;
  min-width: 280px;
  max-height: 200px;
  height: calc(100vh - 182px - 542px);
  min-height: 165px;
  position: relative;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0);
}

.info-card > img {
  height: 100%;
  width: 100%;
}

.status p:first-child {
  font-size: 35px;
  font-weight: 900;
}

.status p:last-child {
  font-weight: 500;
}

.status {
  color: #fff;
  position: absolute;
  bottom: 40px;
  right: 10%;
  text-align: right;
}

/* =============== 2.3. Chart Container ================ */
.charts-container {
  display: flex;
  width: 100%;
  height: calc(100% - 240px - 3rem - 20px);
}

.chart {
  width: 49%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  border-radius: 12px;
}

.charts-container .chart:first-child {
  margin-right: 2%;
}

.chart h3 {
  font-weight: 900;
}

.chart {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.chart h3 {
  text-align: left;
  width: 100%;
}
#chartDiv {
  max-width: 100%;
  height: 100%;
}

#chartDiv2 {
  max-width: 100%;
  height: 100%;
}

/* .chart p {
    text-align: left;
    position: absolute;
    bottom: 10%;
  
    left: 50%;
    transform: translate(-50%, 0);
  } */

/* ----------------------------------------
|	 3. Plant                              |
---------------------------------------- */

/* ============= 3.1. Evaluate ==============  */

.evaluate {
  width: 100%;
  height: fit-content;
}
.evaluate img {
  width: 100%;
}

/* ============= 3.2. Recommendation ==============  */

.recommendation h4 {
  color: green;
  font-weight: 900;
}

.recommendation {
  background-color: #fff;
  border-radius: 24px;
  padding: 20px;
}

.choices-image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
  width: 100%;
  justify-content: space-between;
}

.choices-image > div {
  border-radius: 15px;
  height: 351px;
  width: 201x;
  overflow: hidden;
  position: relative;
}

.choices-image img {
  height: 350px;
  width: 200x;
}

/* .choices-image div:hover {
  border: 1px solid green;
} */
.plant-selected {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px;
  border-radius: 12px;
  background-color: #cfe1b9;
  text-align: right;
  padding: 5px;
  font-weight: 900;
  color: green;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.recommend-cancel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: calc(100% - 340px);
  padding-bottom: 10px;
}

.recommend-cancel button {
  cursor: pointer;
  padding: 5px 15px;
  background-color: #ee9593;
  color: red;
  border-radius: 12px;
  border: none;
  font-weight: 900;
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
  color: rgba(255, 0, 0, 0.459);
  background-color: #eee;
}
.recommend-cancel button:hover {
  background-color: red;
}

.recommend-cancel h4 {
  margin: 0;
}

/* ---------------- 3.2.1. Button (select + config button) -----------------*/

.select-detail-button {
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 150px;
  display: flex;
  justify-content: center;
}

.select-detail-button button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  border-radius: 10px;
  border-radius: 8px;
  width: 130px;
  height: 34px;
}

.select-detail-button p {
  font-weight: bold;
  margin: 0;
}

.select-detail-button .bi-check2-circle {
  padding-right: 4px;
  padding-left: 5px;
  font-size: 1.5rem;
  color: #3b3b3b;
  font-weight: bold;
}

.select-detail-button .bi-info-circle {
  padding-right: 6px;
  padding-left: 6px;
  font-size: 1.3rem;
  color: #3b3b3b;
}

.select-detail-button #select {
  background-color: #b7cbbf;
}

.select-detail-button #detail {
  background-color: #e5d0bb;
}

.select-detail-button .select-button,
.select-detail-button .detail-button {
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 8px;
  width: 34px;
  height: 34px;
  transition: all 0.5s ease;
}

.select-detail-button .select-button {
  margin-right: 5px;
}

.select-detail-button .select-button:hover,
.select-detail-button .detail-button:hover {
  width: 90px;
}

.select-detail-button .select-button:hover #select {
  background-color: #38b000;
}

.select-detail-button .detail-button:hover #detail {
  background-color: #e49b5c;
}

/* ================= 3.3. Sidepeek ==================== */

.sidepeek-container {
  width: 793px;
  background-color: #f7f7f7;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 12;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  overflow: hidden;
}

/* --------------- 3.3.1. Header --------------- */

.sidepeek-header,
.environment-trigger,
.environment-trigger-header,
.sidepeek-footer {
  padding: 30px 30px 0 30px;
  width: 100%;
}

.environment-trigger {
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
}
.temp-humidity > div:first-child,
.light-soil > div:first-child {
  margin-bottom: 65px;
}

.sidepeek-header {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.sidepeek-header h4 {
  font-weight: 900;
  color: green;
  margin-bottom: 30px;
}

.sidepeek-header .bi-x-lg {
  position: absolute;
  top: 5px;
  right: 5px;

  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  background-color: #f7f7f8;
  border-radius: 12px;
  transition: all 0.2s ease;
}

.sidepeek-header .bi-x-lg:hover {
  background-color: red;
  color: #fff;
}
.environment-trigger-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.environment-trigger-header h5 {
  margin: 0;
  font-weight: 700;
}
.environment-trigger-header img {
  margin-left: 20px;
  width: 20px;
  height: 20px;
}

/* ------------ 3.3.2. Part Container of Sidepeek ------------ */

.watermode-conainer {
  padding: 0 30px;
}
.watermode-conainer > div {
  margin-top: 10px;
  font-size: 16px;
  font-family: 500;
}

.form-check .bi-info-circle {
  font-size: 12px;
  margin-left: 10px;
}

/* ------------ 3.3.3. Double slider ------------ */

.range-slider {
  width: 300px;
  margin: auto;
  text-align: center;
  position: relative;
  height: 4em;
  text-align: right;
}

.range-slider div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-field {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.range-slider input[type="range"] {
  position: absolute;
  left: 0;
  bottom: 0;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.3s;
  background: #c0baba98;
  border-radius: none;
  box-shadow: none;
  border: 0;
  border-radius: 25px;
}

input[type="range"]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  box-shadow: none;
  border: none;
  height: 13px;
  width: 13px;
  border-radius: 25px;
  background: #557c55;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

input[type="range"]::-webkit-slider-thumb:hover {
  border: 2px solid #cfe1b9;
}

input[type="number"] {
  border-radius: 12px;
  padding: 5px 5px 5px 10px;
  width: 60px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.range-slider p {
  font-weight: 600;
  margin: 0;
}

/* ----------- 3.3.4. Date choose-------------- */
.custom-container {
  padding: 10px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all ease 0.5s;
}
.target-container p,
.date-container p,
.time-container p {
  margin: 0;
  font-weight: 600;
}

.date-container,
.time-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 20px;
}

.time-container input {
  width: 150px;
  padding: 5px 10px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.time-container input:focus {
  background-color: #cfe1b9;
}

.date-container div {
  width: 45px;
  height: 45px;
  background-color: #eee;
  line-height: 45px;
  text-align: center;
  border-radius: 25px;
  cursor: pointer;
}

.date-container div.active {
  background-color: #557c55;
  color: #fff;
}

#target .target-slider {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center;
}

/* ----------- 3.3.5. Button (select + cancel button) ----------- */

.sidepeek-footer {
  margin-top: 20px;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #b7cbbf;
  padding: 10px 30px;
  align-items: center;
}

.select-button-sidepeek {
  width: 120px;
  height: 40px;
  background-color: #cfe1b9;
  color: green;
  line-height: 40px;
  font-weight: 900;
  border-radius: 12px;
  text-align: center;
  transition: all ease 0.2s;
  cursor: pointer;
}

.select-button-sidepeek:hover {
  background-color: green;
  color: #fff;
}

.cancel-button {
  font-weight: 600;
  color: #00000071;
  transition: all ease 0.2s;
  cursor: pointer;
}
.cancel-button:hover {
  font-weight: 900;
  color: red;
  text-decoration: underline;
}

/* ----------------------------------------
|	 4. Overlay                            |
---------------------------------------- */

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.2);
}

/* ----------------------------------------
|	 5. Responsive                         |
---------------------------------------- */

@media (max-width: 914px) {
  .main-container {
    padding: 0;
  }
  .content-container {
    padding: 15px 5px 15px 15px;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: scroll;
  }
  .bi-list {
    color: green;
    font-weight: 900;
    display: block;
    font-size: 25px !important;
  }
  .profile-respone {
    display: none;
  }
  .status {
    right: 15%;
  }

  .page-title h3 {
    font-size: 20px;
    font-weight: 900;
    color: green;
    margin: 0;
  }

  .check-plant p {
    font-size: 15px;
    font-weight: 500;
    color: #557c55;
    margin: 0;
  }

  .info-card {
    width: 100%;
    margin-right: 5px;
  }

  .navbar {
    display: none;
  }

  .navbar.active {
    display: flex;
    width: 250px;
  }

  .navbar.active div {
    padding: 10px 0;
  }
  .navbar.active div:hover {
    background-color: #557c55;
    border-radius: 12px;
    padding: 10px 0;
    color: #fff;
  }
  .environment-info {
    gap: 10px;
    justify-content: center;
  }

  .charts-container {
    flex-direction: column;
    width: 100%;
    /* height: calc(100% - 280px - 171px); */
    height: fit-content;
  }

  .charts-container .chart:first-child {
    margin-bottom: 2%;
    margin-right: 0;
  }
  .chart {
    width: 100%;
    height: 49%;
  }

  #chartDiv {
    width: 100%;
    height: 90%;
  }

  #chartDiv2 {
    width: 100%;
    height: 90%;
  }
  .recommend-cancel {
    gap: 15px;
  }

  .recommend-cancel button:hover {
    color: rgba(255, 0, 0, 0.459);
    background-color: #eee;
  }

  /* .chart p {
      bottom: 10px;
      width: 100%;
      text-align: center;
    } */
  /* 
    #chartDiv {
      width: 40%;
      height: 300px\
      min-width: 300px;
    } */

  .header .greet {
    padding-right: 10px;
    margin-right: 10px;
  }
  .choices-image {
    gap: 10px;
  }
  .select-detail-button {
    width: 210px;
    right: 5px;
  }

  .select-button,
  .detail-button {
    width: 100px !important;
    padding-right: 5px;
  }

  .sidepeek-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
  .environment-trigger {
    justify-content: center;
    gap: 70px;
  }
  #target .target-slider {
    gap: 10px;
  }
  .data {
    height: fit-content;
    padding-bottom: 5%;
  }
  .te {
    display: none;
  }
  .profile-title {
    margin: 10px;
  }
  .content {
    width: 90%;
  }
  .div-title {
    margin-bottom: 2rem;
  }
}

.water-btn {
  background-color: transparent;
  outline: none;
  border: 0.8px solid #588cfd;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 6px;
  position: absolute;
  top: 25px;
  right: 25px;
}

.water-btn:hover {
  background-color: #588cfd4f;
}
